<div class="form-body" style="height: 340px;padding:30px 30px 20px;">
									    <!-- Card Number -->
									    <input type="text" class="card-number" placeholder="Username"
									    	style="width:80%;margin-bottom: 20px;padding-left: 40px; 
									    			border: 2px solid #e1e8ee;border-radius: 6px;"
									    >
									 
									    <!-- Date Field -->
										<input type="text" class="phone-number" placeholder="Location e.g Entebbe"
											style="width:80%;margin-bottom: 20px;padding-left: 40px; 
									    			border: 2px solid #e1e8ee;border-radius: 6px;"
										>
										<input type="text" class="phone-number" placeholder="Enter e.g 070525855"
											style="width:80%;margin-bottom: 20px;padding-left: 40px; 
									    			border: 2px solid #e1e8ee;border-radius: 6px;"
										>
									     <input type="number"  class="days" placeholder="No. of days"
									     	style="width:80%;margin-bottom: 20px;padding-left: 40px; 
									    			border: 2px solid #e1e8ee;border-radius: 6px;"
									     >