{% load static %}
<div class="col-lg-3 col-md-3 col-sm-3" style="margin-top: 0px;color: white;">
	<span style="margin-left: 10px;">
	    <img src="{% static "preghome/images/preghealth.png" %}"  alt="logo">
	</span>
	<hr />
	<ul style="{a:color:#fff;}">
	    <ol style="color: #fff"><a class="link_check" style="color: fff;" href="{% url "preghome:aboutus" %}">About Us</a></ol>
	    <hr />
	    <ol style="color: #fff">About The App</ol>
	    <hr />
	    <ol style="color: #fff"><a href="{% url "preghome:product_list" %}">Maternal Shop</a></ol>
	    <hr />
	    <ol style="color: #fff">Maternal Wallet</ol>
	    <hr />
	    <ol style="color: #fff">
	    	<a href="{% url "healthblog:list-blog" %}">
	    		Health blog
	    	</a>
	    </ol>
	    <hr />
	    <ol style="color: #fff">
	        <a href="{% url "preghome:booknurse" %}">BedSide Nursing</a>
	    </ol>
	    <hr />
	    <ol style="color: #fff">
	    	<a href="{% url "preghome:our_team" %}">Our Team</a>
	    </ol>
	    <hr />
	    <ol style="color: #fff">
	    	<a href="{% url "preghome:our_partners" %}">Our partners</a>
	    </ol>
	</ul>
</div>